@font-face {
    font-family: D-DIN-PRO-Medium ;
    src: url(font/otf/D-DIN-PRO-500-Medium.otf);
}
*{
    box-sizing: border-box;
    font: 100%/1.4 Arial, Helvetica, sans-serif;
    line-height: 110%;
}
:root{
  --primary: #5E356F;
  --secondary: #C4C700;
  --highlight-secondary: #A68FAD;
  --highlight-primary:#FCF7FD;
  --light-gray: #F5F5F5;
  --black : #000;
  --white: #ffffff; 
  --shadow: 0 4px 20px 0 rgba(94, 53, 111, 0.15);
  /* --shadow: 0 4px 20px 0 rgb(94, 53, 111); */
  --image-radius: 5px;
  --button-radius: 54px;
}
body{
    margin: 0;
    padding: 0;
    font-family:D-DIN-PRO-Medium ;
}
img{
    width: 100%;
}
h2{
    color: var(--primary);
    max-width: 30rem;
    font-size: 32px;
    text-align: center;
    margin: 1em auto 1em auto;
}
h3{
    color: var(--primary);
    max-width: 30rem;
    font-size: 20px;
}
a{
    color: var(--primary);
    text-decoration: none;
}
header{
    max-width: 100%;  
    height: 100%;  
    position: sticky;
    box-shadow: var(--shadow);
    margin: 0 auto;
    right: auto;
    left: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75px fhg hv;
    
}

nav div{
    padding: 0 1em;
    height: auto;
} 
.bottom-nav_list-mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    box-shadow: var(--shadow);
    background-color: var(--white);
    padding: 1.5rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
}
.top-nav_list button{
    width: 4em;
    height: 4em;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: var(--image-radius);
}
.top-nav_list ul{
    list-style: none;
    display: inline-flex;
    gap : 2rem;
    display: none;
}

.top-nav_search svg{
    fill: var(--primary);
}

.home-page-slider{
   background-image: url(/assets/Group26.png);
   height: 50%; 
   background-position: center;
   background-repeat: no-repeat;
    display: flex; 
    overflow: auto;
    scroll-snap-type: x mandatory;
    position: relative;
    scrollbar-width: none;
    
}
.home-page-slider_img{
    text-align: center;
}
.home-page-slider_img img{
    width: 80%;
    left: 40%;
}



/* .home-page-slider::-webkit-scrollbar { display: none; } */

.home-page-slider article{
    flex-grow: 0;
    /* Laat afbeeldingen niet kleiner worden */
    flex-shrink: 0;
    /* Maak ze standaard 100% breed */
    flex-basis: 95%;
    scroll-snap-align: center;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.shape{
    width: 7%;
    height: 7%;
    position: absolute;
    left: 44%;
    top: 56%;
    transform: translate(-50%, -50%);
    animation-name: shape-animeren;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
@keyframes shape-animeren{
    0% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
      }
      100% {
        -webkit-transform: scale(1.3, 1.3);
        opacity: 0;
      }
    }

.home-page-selector{
    background-color: var(--highlight-primary);
}
.home-page-selector_bar{
    background-color: var(--primary);
    width: 100%;
    color: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.home-page-selector_bar h2, .home-page-selector_bar h3{
    color: var(--white);
}
.home-page-selector_bar-total{
    background-color: var(--white);
    color: var(--primary);
    border-radius: 50%;
    padding: 0 7px;
}

.home-page-selector_bar-remove {
    all: unset;
    color: var(--white);
    text-decoration: underline;
    
}
.home-page-selector_bar-remove::after {
    content: "-";
    padding: .1em .5em;
    background-color: var(--white);
    color: var(--primary);
    margin-left: .6em;
    font-size: larger;
}

.home-page-selector_filter{
    text-align: center;
    padding: 0 1rem;
    
}
.home-page-selector_filter-button{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 8px;
}
.home-page-selector_filter-button button{
    width:auto;
    border: none;
    border-radius: var(--button-radius);
    background-color: var(--light-gray);
    padding: 20px;
    transition: 0.3s;
}
.home-page-selector_filter-button button::before{
    content: "#";
    background-color: var(--white);
    padding: 4px 7px;
    border-radius: 50%;
    margin-right: .4rem;
}
.home-page-selector_filter-button button:hover, .home-page-selector_filter-button button:active{
    background-color: var(--secondary);
}
.home-page-selector_filter-show-more{
    padding: 1.5rem 0;
}
.home-page-selector_filter-show-more button{
    text-align: center;
    border: none;
    border-radius: var(--button-radius);
    background-color: var(--white);
    padding: 1.5rem;

}
.home-page_actueel, .home-page_populaire-producten, .home-page_agenda{
    padding: 0 1rem;
    border-radius: var(--image-radius);
}
.home-page_actueel-card, .home-page_populaire-producten_card{
    padding: 0  0 1rem  0;
    margin-bottom: 1rem;
    box-shadow: var(--shadow);
    border-radius: var(--image-radius);
}
.home-page_actueel-card-info{
    display: flex;
    gap: .6rem;
}
.home-page_actueel-card-info_voice::before{
    content: url(/assets/.png);
    padding: 0.4rem;
}
.home-page_actueel-card-info_likes::before{
    content: url(/assets/.png);
    padding: 0.4rem;
}
.home-page_agenda-info{
    background-color: #F9F9E8;
    padding: 1rem;
    
}

.home-page_agenda-day_datum{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    color: var(--white);
    padding: 1rem;
    border-radius: 5px 0 0 5px;
}
.home-page_agenda-day_info{
    display: flex;
    align-items: center;
    padding: 0 0.5em
}
.home-page_agenda-day{
    display: flex;
    text-align: center;
    gap: .5rem;
    background-color: var(--white);
    margin: 1rem 0 0 0;
    border-radius: var(--image-radius);

}
.home-page_actueel-card > div, .home-page_populaire-producten_card div{
    padding: 1rem;
 
 }
 .home-page_populaire-producten_card-cost{
    background-color: #F9F9E8;
    color: var(--secondary);
    border-radius: var(--image-radius);
    padding: .4rem;
 }
 .home-page_populaire-producten_card-read{
    background-color: #F0EBF1;
    color: var(--primary);
    border-radius: var(--image-radius);
    padding: 0.4rem;
 }
.home-page_populaire-producten_card-read::before{
    content: url(/assets/read-icon.png);
    padding-right:.5rem ;
}
.home-page_top-footer{
    padding: 1rem;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home-page_top-footer h3{
    margin: 0px !important;
    font-size: 24px;
}
.home-page_top-footer a{
    color: var(--white) ;
}
.home-page_footer-social-media svg{
    width: 35px;
    fill: var(--white);
}
.home-page_bottom-footer{
    padding: 1rem;
    background-color: var(--highlight-secondary);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home-page_bottom-footer h3{
    margin: 0px !important;
    text-align: left 
}
@media only screen and (min-width: 30em){
    .home-page_actueel > h2, .home-page_populaire-producten > h2{
        grid-area: card;
    }
    .home-page_actueel, .home-page_populaire-producten{
        display: grid;
        grid-template-areas: 'card card';
        gap: 1em;
       
     }
     .shape {
        width: auto;
        position: absolute;
        left: 46%;
    }
    .home-page_agenda-day{
        width: 70%;
        margin: 1rem auto;
    
    }
    .home-page_actueel, .home-page_populaire-producten, .home-page_agenda {
        padding: 0 1.5rem 1rem 1.5rem;
        border-radius: var(--image-radius);
    }
 
}

@media only screen and (min-width: 60em) {
    main > section {
        margin: auto;
        width: 90%;
    }
    .top-nav_list{
        order: 2;
        display: flex;
        align-items: center;
    }
    .top-nav_logo{
        order: 1;
    }
    .bottom-nav_list-mobile{
        display: none;
    }
    .top-nav_search{
        order: 3;
    }
    .top-nav_list ul{
        display: flex;
    }
    .home-page-slider_title{
        font-size: -webkit-xxx-large;
    }
    .shape{
        left: 46.7%;
        top: 62%; 
    }
    .home-page_actueel > h2, .home-page_populaire-producten > h2{
        grid-area: card;
    }
    .home-page_actueel, .home-page_populaire-producten{
       display: grid;
       grid-template-areas: 'card card card';
       gap: 1em;
      
    }
    .home-page_agenda-day{
        width: 50%;
        margin: 1rem auto;
    
    }
    .home-page_agenda-card{
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .home-page_top-footer{
        display: flex;
        flex-direction: row;
        gap: 1.5em;
        align-items: center;
        justify-content: space-evenly;
        height: 10em;
    }
    .home-page_bottom-footer{
        display: flex;
        flex-direction: row;
        gap: 1.5em;
        align-items: center;
        justify-content: center;
        height: 6em;
    }
}
